* {
}

body {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  margin: 1em;
  justify-content: center;
  height: 50%;
  color: whitesmoke;
}

ul,
li {
  list-style: none;
  border: black;
  border-style: double;
}
main {
  float: right;
}

.weather_container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#day1,
#day2,
#day3,
#day4,
#day5 {
  flex: 1;
  border: #2de1fc;
  border-style: groove;
}

#current_temp {
  font-size: x-large;
}

.current_weather_container {
  /* display: flex; */
  /* justify-content: center; */
}
